@import "tailwindcss";

@tailwind utilities;

@theme {
  --color-blue: #2997ff;
  --color-gray: #86868b;
  --color-gray-100: #94928d;
  --color-gray-200: #afafaf;
  --color-gray-300: #42424570;
  --color-zinc: #101010;
}

body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;
}

canvas {
  touch-action: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-height {
  height: calc(100vh - 60px);
}

.hero-title {
  text-align: center;
  font-weight: 600;
  font-size: var(--text-3xl);
  line-height: var(--tw-leading, var(--text-3xl--line-height));
  color: var(--color-gray-100);
  opacity: 0;
}

.btn {
  padding-inline: calc(var(--spacing) * 5);
  padding-block: calc(var(--spacing) * 2);
  border-radius: var(--radius-3xl);
  background-color: var(--color-blue);
  margin-block: calc(var(--spacing) * 5);
  border-style: var(--tw-border-style);
  border-width: 1px;
}

.btn:hover {
  background-color: transparent;
  border-style: var(--tw-border-style);
  border-width: 1px;
  color: var(--color-blue);
  border-color: var(--color-blue);
}
.common-padding {
  padding-block: calc(var(--spacing) * 20);
  padding-inline: calc(var(--spacing) * 5);
}
.section-heading {
  color: var(--color-gray);
  font-size: var(--text-3xl);
  line-height: var(--tw-leading, var(--text-3xl--line-height));
  margin-bottom: calc(var(--spacing) * 5);
  font-weight: var(--font-weight-medium);
  opacity: 0;
  --tw-translate-y: calc(var(--spacing) * 20);
  translate: var(--tw-translate-x) var(--tw-translate-y);
}
.link {
  color: var(--color-blue);
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: var(--text-xl);
  line-height: var(--tw-leading, var(--text-xl--line-height));
  opacity: 0;
  --tw-translate-y: calc(var(--spacing) * 20);
  translate: var(--tw-translate-x) var(--tw-translate-y);
}
.link:hover {
  text-decoration: underline;
}
.video-carousel-container {
  position: relative;
  width: 88vw;
  height: 35vh;
}
.control-btn {
  margin-left: calc(var(--spacing) * 4);
  padding: calc(var(--spacing) * 4);
  border-radius: calc(infinity * 1px);
  background-color: var(--color-gray-300);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  cursor: pointer;
}
.color-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--spacing) * 4);
  border-radius: calc(infinity * 1px);
  background-color: var(--color-gray-300);
  backdrop-filter: blur(8px);
}

.size-btn {
  width: calc(var(--spacing) * 10);
  height: calc(var(--spacing) * 10);
  font-size: var(--text-sm);
  line-height: var(--tw-leading, var(--text-sm--line-height));
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: calc(infinity * 1px);
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.size-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--spacing) * 1);
  border-radius: calc(infinity * 1px);
  background-color: var(--color-gray-300);
  backdrop-filter: blur(8px);
  margin-left: calc(var(--spacing) * 3);
  gap: calc(var(--spacing) * 1);
}

@media (width >= 40rem) {
  .common-padding {
    padding-block: calc(var(--spacing) * 32);
    padding-inline: calc(var(--spacing) * 10);
  }
  .video-carousel-container {
    width: 70vw;
    height: 50vh;
  }
}
@media (width < 48rem) {
  .hero-title {
    margin-bottom: calc(var(--spacing) * 10);
  }
}
@media (width >= 48rem) {
  .section-heading {
    font-size: var(--text-5xl);
    line-height: var(--tw-leading, var(--text-5xl--line-height));
  }
  .video-carousel-container {
    height: 70vh;
  }
}
@media (width >= 64rem) {
  .section-heading {
    font-size: var(--text-6xl);
    line-height: var(--tw-leading, var(--text-6xl--line-height));
    margin-bottom: calc(var(--spacing) * 0);
  }
}
